<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OTP</title>
</head>
<body style="margin:0; padding:0; font-family: Arial, sans-serif; background:#f4f4f4;">

  <div style="padding: 20px; border-radius:8px;">
    <h1 style="color:#333; text-align: center; text-transform: capitalize;">
      <strong>LOGO</strong>
    </h1>
    <h2 style="color:#333; text-align: center; text-transform: capitalize;">Welcome</h2>
    <h3 style="color:#333; text-align: center; text-transform: capitalize;"><%= name %></h3>
    <p style="color:#555; text-align: center;">
      Your OTP is <strong><%= otp %></strong>
    </p>
  </div>

  <!-- <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">

        <table width="600" style="background:#f4f4f4; padding:20px; border-radius:8px;">
          <tr>
            <td align="center">
              <h1 style="color:#333;">Welcome <%= name %> 👋</h1>
              <p style="color:#555;">
                Your OTP is <strong><%= otp %></strong>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table> -->

</body>
</html>
